version: "3.8"

services:
  api:
    build: .
    command: node dist/server.js
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

  worker:
    build: .
    command: node dist/worker.js
    env_file:
      - .env
    depends_on:
      - db

  recovery:
    build: .
    command: node dist/recovery.js
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
